.dashboard-container {
    margin: 0;
    padding: 0;

    .dashboard-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        height: calc(25vh - 17px);


        .dashboard-card-title {
            width: 100%;
            padding: 0.5rem;
            text-align: center;
        }

        .dashboard-card-content {
            font-size: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
            width: 100%;
        }
    }
}